.card-list {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    gap: 20px;
  }

  @media (min-width: 1340px) {
    .card-list {
     grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 930px) and (max-width: 1339px) {
    .card-list {
     grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 929px) {
    .card-list {
     grid-template-columns: 1fr;
    }
  }
  